<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <!-- 画像は、「public」フォルダに配置しておくと、HTMLでは<img src="/ファイル名" >、
  CSSでは background-image: url("/ファイル名"); のように指定するだけで簡単に表示することができます。 -->
  <img class="about-img" src="/tweets.png">
</div>